In [ ]:
import pandas as pd
# file yg sudah di translate
df = pd.read_csv('/content/Emolex+KatalogApi_Muak.csv')
print(df)

      Unnamed: 0  val  no          word
0             12    1 NaN  penyimpangan
1             13    1 NaN      membenci
2             14    1 NaN   menjijikkan
3             15    1 NaN          hina
4             16    1 NaN  tidak normal
...          ...  ...  ..           ...
1051        1063    1 NaN    kecelakaan
1052        1064    1 NaN        celaka
1053        1065    1 NaN        celaka
1054        1066    1 NaN     kesalahan
1055        1067    1 NaN         salah

[1056 rows x 4 columns]

In [ ]:
import pandas as pd


# Identify the column with the "Unnamed" header
unnamed_columns = [col for col in df.columns if col.startswith('Unnamed')]

# Remove the "Unnamed" column(s) from the DataFrame
df = df.drop(columns=unnamed_columns)
df

      val  no          word
0       1 NaN  penyimpangan
1       1 NaN      membenci
2       1 NaN   menjijikkan
3       1 NaN          hina
4       1 NaN  tidak normal
...   ...  ..           ...
1051    1 NaN    kecelakaan
1052    1 NaN        celaka
1053    1 NaN        celaka
1054    1 NaN     kesalahan
1055    1 NaN         salah

[1056 rows x 3 columns]

In [ ]:
import pandas as pd

# Create a sample DataFrame

df = pd.DataFrame(df)

# Display the original DataFrame
print("Original DataFrame:")
print(df)

# Remove a specific column by index
column_to_remove = 'no'
df = df.drop(column_to_remove, axis=1)

# Display the updated DataFrame
print("\nUpdated DataFrame:")
print(df)

# Save the updated DataFrame to a new CSV file
df.to_csv('Dict_EmolexKatalogApi_Terkejut2 - copy.csv', index=False)

Original DataFrame:
      val  no          word
0       1 NaN  penyimpangan
1       1 NaN      membenci
2       1 NaN   menjijikkan
3       1 NaN          hina
4       1 NaN  tidak normal
...   ...  ..           ...
1051    1 NaN    kecelakaan
1052    1 NaN        celaka
1053    1 NaN        celaka
1054    1 NaN     kesalahan
1055    1 NaN         salah

[1056 rows x 3 columns]

Updated DataFrame:
      val          word
0       1  penyimpangan
1       1      membenci
2       1   menjijikkan
3       1          hina
4       1  tidak normal
...   ...           ...
1051    1    kecelakaan
1052    1        celaka
1053    1        celaka
1054    1     kesalahan
1055    1         salah

[1056 rows x 2 columns]

In [ ]:
df

      val          word
0       1  penyimpangan
1       1      membenci
2       1   menjijikkan
3       1          hina
4       1  tidak normal
...   ...           ...
1051    1    kecelakaan
1052    1        celaka
1053    1        celaka
1054    1     kesalahan
1055    1         salah

[1056 rows x 2 columns]

In [ ]:
import csv

def replace_values(csv_file, column_index, old_value, new_value):
    with open(csv_file, 'r', newline='') as file:
        reader = csv.reader(file)
        rows = list(reader)

    for row in rows:
        if row and len(row) > column_index and row[column_index] == old_value:
            row[column_index] = new_value

    with open(csv_file, 'w', newline='') as file:
        writer = csv.writer(file)
        writer.writerows(rows)

# Usage example
csv_file_path = 'Dict_EmolexKatalogApi_Terkejut2 - copy.csv'
column_index = 1  # Index of the column to be modified (0-based index)
old_value = '1.0'
new_value = '1'

replace_values(csv_file_path, column_index, old_value, new_value)
# Save the updated DataFrame to a new CSV file
df.to_csv('Dict_EmolexKatalogApi_Terkejut2.csv', index=False)
df

      val          word
0       1  penyimpangan
1       1      membenci
2       1   menjijikkan
3       1          hina
4       1  tidak normal
...   ...           ...
1051    1    kecelakaan
1052    1        celaka
1053    1        celaka
1054    1     kesalahan
1055    1         salah

[1056 rows x 2 columns]

In [ ]:
import pandas as pd

def change_column_position(csv_file, column_name, new_position):
    df = pd.read_csv(csv_file)
    columns = df.columns.tolist()
    column_index = columns.index(column_name)
    columns.insert(new_position, columns.pop(column_index))
    df = df.reindex(columns=columns)
    df.to_csv(csv_file, index=False)

# Usage example
csv_file_path = '/content/Dict_EmolexKatalogApi_Sedih - Copy.csv'
column_name = 'word'  # Name of the column to be moved
new_position = 1  # New position (0-based index)

change_column_position(csv_file_path, column_name, new_position)

FileNotFoundError: ignored

In [ ]:
import pandas as pd
# file yg sudah di translate
df1 = pd.read_csv('/content/Emolex+KatalogApi_Gembira.csv')
print(df1)

In [ ]:
import pandas as pd


# Identify the column with the "Unnamed" header
unnamed_columns = [col for col in df1.columns if col.startswith('Unnamed')]

# Remove the "Unnamed" column(s) from the DataFrame
df1 = df1.drop(columns=unnamed_columns)

df1

In [ ]:
import pandas as pd

# Create a sample DataFrame

df1 = pd.DataFrame(df1)

# Display the original DataFrame
print("Original DataFrame:")
print(df1)

# Remove a specific column by index
column_to_remove = 'no'
df1 = df1.drop(column_to_remove, axis=1)

# Display the updated DataFrame
print("\nUpdated DataFrame:")
print(df1)

# Save the updated DataFrame to a new CSV file
df1.to_csv('Dict_EmolexKatalogApi_Gembira.csv', index=False)

In [ ]:
import pandas as pd
# file yg sudah di translate
df2 = pd.read_csv('/content/Emolex+KatalogApi_Muak.csv')
print(df2)

In [ ]:
import pandas as pd


# Identify the column with the "Unnamed" header
unnamed_columns = [col for col in df2.columns if col.startswith('Unnamed')]

# Remove the "Unnamed" column(s) from the DataFrame
df2 = df2.drop(columns=unnamed_columns)

# Save the updated DataFrame to a new CSV file
df2.to_csv('Dict_EmolexKatalogApi_Muak.csv', index=False)

df2

In [ ]:
import pandas as pd


df2 = pd.DataFrame(df2)

# Remove the ".0" from values in a specific column
column_to_modify = 'val'
df2[column_to_modify] = df2[column_to_modify].astype(str).str.rstrip('.0')

# Display the updated DataFrame
print(df2)

# Save the updated DataFrame to a new CSV file
df2.to_csv('Dict_EmolexKatalogApi_Muak.csv', index=False)

In [ ]:
import pandas as pd

# Create a sample DataFrame

df2 = pd.DataFrame(df2)

# Display the original DataFrame
print("Original DataFrame:")
print(df2)

# Remove a specific column by index
column_to_remove = 'no'
df2 = df2.drop(column_to_remove, axis=1)

# Display the updated DataFrame
print("\nUpdated DataFrame:")
print(df2)

# Save the updated DataFrame to a new CSV file
df2.to_csv('Dict_EmolexKatalogApi_Muak.csv', index=False)

In [ ]:
import pandas as pd
# file yg sudah di translate
df3 = pd.read_csv('/content/Emolex+KatalogApi_Sedih.csv')
print(df3)

In [ ]:
import pandas as pd


# Identify the column with the "Unnamed" header
unnamed_columns = [col for col in df3.columns if col.startswith('Unnamed')]

# Remove the "Unnamed" column(s) from the DataFrame
df3 = df3.drop(columns=unnamed_columns)

df3

In [ ]:
import pandas as pd


df3 = pd.DataFrame(df3)

# Remove the ".0" from values in a specific column
column_to_modify = 'val'
df3[column_to_modify] = df3[column_to_modify].astype(str).str.rstrip('.0')

# Display the updated DataFrame
print(df3)


import pandas as pd

# Create a sample DataFrame

df3 = pd.DataFrame(df3)

# Display the original DataFrame
print("Original DataFrame:")
print(df3)

# Remove a specific column by index
column_to_remove = 'no'
df3 = df3.drop(column_to_remove, axis=1)

# Display the updated DataFrame
print("\nUpdated DataFrame:")
print(df3)

# Save the updated DataFrame to a new CSV file
df3.to_csv('Dict_EmolexKatalogApi_Sedih.csv', index=False)

In [ ]:
import pandas as pd
# file yg sudah di translate
df4 = pd.read_csv('/content/Emolex+KatalogApi_Takut.csv')
print(df4)

In [ ]:
import pandas as pd


# Identify the column with the "Unnamed" header
unnamed_columns = [col for col in df4.columns if col.startswith('Unnamed')]

# Remove the "Unnamed" column(s) from the DataFrame
df4 = df4.drop(columns=unnamed_columns)


df4

In [ ]:
import pandas as pd

# Create a sample DataFrame

df4 = pd.DataFrame(df4)

# Display the original DataFrame
print("Original DataFrame:")
print(df4)

# Remove a specific column by index
column_to_remove = 'no'
df4 = df4.drop(column_to_remove, axis=1)

# Display the updated DataFrame
print("\nUpdated DataFrame:")
print(df4)

# Save the updated DataFrame to a new CSV file
df4.to_csv('Dict_EmolexKatalogApi_Takut.csv', index=False)

In [ ]:
import pandas as pd
# file yg sudah di translate
df5 = pd.read_csv('/content/Emolex+KatalogApi_Terkejut.csv')
print(df5)

In [ ]:
import pandas as pd


# Identify the column with the "Unnamed" header
unnamed_columns = [col for col in df5.columns if col.startswith('Unnamed')]

# Remove the "Unnamed" column(s) from the DataFrame
df5 = df5.drop(columns=unnamed_columns)


df5

In [ ]:
import pandas as pd

# Create a sample DataFrame

df5 = pd.DataFrame(df5)

# Display the original DataFrame
print("Original DataFrame:")
print(df5)

# Remove a specific column by index
column_to_remove = 'no'
df5 = df5.drop(column_to_remove, axis=1)

# Display the updated DataFrame
print("\nUpdated DataFrame:")
print(df5)

In [ ]:
import pandas as pd

df5 = pd.DataFrame(df5)

# Display the original DataFrame
print("Original DataFrame:")
print(df5)

# Change values from 1.0 to 1 in a specific column
column_to_change = 'val'
df5[column_to_change] = df5[column_to_change].replace(1.0, 1)

# Display the updated DataFrame
print("\nUpdated DataFrame:")
print(df5)

In [ ]:
import pandas as pd


df5 = pd.DataFrame(df5)

# Remove the ".0" from values in a specific column
column_to_modify = 'val'
df5[column_to_modify] = df5[column_to_modify].astype(str).str.rstrip('.0')

# Display the updated DataFrame
print(df5)

# Save the updated DataFrame to a new CSV file
df5.to_csv('Dict_EmolexKatalogApi_Terkejut.csv', index=False)